:root {
    --limegreen: hsl(163, 72%, 41%);
    --brightred: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --darkblue: hsl(230, 17%, 14%);
    --darkerblue: hsl(232, 19%, 15%);
    --darkgrayblue: hsl(210, 4%, 67%);
    --darl-card: hsl(228, 28%, 20%);
    --lightcard: hsl(227, 47%, 96%);
    --darl-text1: hsl(228, 34%, 66%);
    --lights-text1: hsl(230, 17%, 14%);
    --darl-text2: hsl(0, 0%, 100%);
    --light-text2: hsl(228, 12%, 44%);
    --dark-top-bg: hsl(232, 19%, 15%);
    --light-top-bg: hsl(225, 100%, 98%);
    --grayblue: hsl(201, 11%, 66%);
    --lightgrayblue: hsl(200, 15%, 85%);
    --toggle-bg-start: hsl(210, 78%, 56%);
    --toggle-bg-end: hsl(146, 68%, 55%);
    --toggle: hsl(230, 22%, 74%);
    --white: hsl(0, 0%, 100%);
    --font: 'Manrope', sans-serif;
}