:root {
    --font-inter: 'Inter', sans-serif;
}

body {
    font-family: var(--font-inter);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-text);
    background-color: var(--light-bg);
}